version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 5
    assignees:
      - "d1vanloon"
    labels:
      - "dependencies"
    commit-message:
      prefix: "deps"
      include: "scope"
